In [1]:
from osprey.trials import make_session, Trial
import pandas as pd
import numpy as np

In [2]:
# Imports
from osprey.config import Config

# Load Configuation File
my_config = 'config.yaml'
config = Config(my_config)

# Retrieve Trial Results
df = config.trial_results()
db1 = config.trials()
history = db1.query(Trial).all()

/Users/robert_arbon/anaconda/envs/ml4dyn/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/robert_arbon/anaconda/envs/ml4dyn/lib/python3.5/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

Loading config file:     config.yaml...
Loading trials database: sqlite:///osprey-trials.db...
Loading trials database: sqlite:///osprey-trials.db...

In [3]:
df2 = pd.read_pickle('cse_trials_0-159.pickl')
print(df2.shape)
df3 = pd.read_pickle('cse_trials_160-end.pickl')
print(df3.shape)

df2 = pd.concat([df2, df3])
print(df2.shape)
df2.sort_values(by='id', inplace=True)
df2.head()

(160, 21)
(1356, 21)
(1516, 21)

,completed,config_sha1,elapsed,host,id,mean_test_score,mean_train_score,n_test_samples,n_train_samples,parameters,...,started,status,test_scores,traceback,train_scores,user,cse_test_scores,cse_train_gaps,cse_train_n_timescales,cse_train_scores
947,2017-08-03 20:16:52.451687,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:02:15.233066,compute249.bc4.acrc.priv,2,2.613855,2.922517,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,2017-08-03 20:14:37.218621,SUCCEEDED,"[2.7929254738960707, 2.806366141062694, 2.6499...",None,"[2.8238005249605154, 2.870721463825274, 2.9884...",ra15808,"[1.96372272307, 1.99871800747, 1.98917327543, ...","[3.97634298203, 16.9731128258, 42.2860267941, ...","[1, 1, 1, 1, 2]","[1.99048647384, 1.99925393958, 1.99986176834, ..."
1024,2017-08-03 20:32:19.317085,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:17:41.918205,compute249.bc4.acrc.priv,3,2.561150,2.970864,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,2017-08-03 20:14:37.398880,SUCCEEDED,"[2.7309232422787275, 2.5163258459570557, 2.645...",None,"[2.96773553090778, 2.969495071361183, 2.995966...",ra15808,"[None, 2.75600033948, 2.56265730611, 1.9773796...","[2.68215225464, 8.14566477521, 8.39641716411, ...","[1, 2, 2, 1, 2]","[1.98978098131, 2.99359912982, 2.8549999371, 1..."
76,2017-08-03 20:28:36.104540,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:13:58.667505,compute249.bc4.acrc.priv,4,2.878763,2.992912,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,2017-08-03 20:14:37.437035,SUCCEEDED,"[2.948540113694251, 2.632606230422432, 2.87014...",None,"[2.993834214901289, 2.978360161399329, 2.99909...",ra15808,"[5.40378045921, 3.88709659215, 1.95245287852, ...","[2.89773741805, 6.58039903006, 17.0715041883, ...","[5, 3, 1, 2, 1]","[5.86174757165, 3.9922788621, 1.99992166853, 2..."
1185,2017-08-03 20:22:28.222725,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:07:50.785734,compute249.bc4.acrc.priv,5,2.388471,2.971272,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,2017-08-03 20:14:37.436991,SUCCEEDED,"[1.8985418806233798, 1.859573749968411, 2.5134...",None,"[2.9877866168480036, 2.9321628078314492, 2.997...",ra15808,"[2.26192515257, 1.85270091014, 0.824351322868,...","[1.94656359823, 21.3668681343, 3.38144238924, ...","[2, 1, 4, 2, 1]","[2.80612614141, 1.99855319081, 4.94715222626, ..."
185,2017-08-03 20:39:29.160628,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:24:51.610195,compute249.bc4.acrc.priv,6,2.854033,2.987659,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,2017-08-03 20:14:37.550433,SUCCEEDED,"[2.8355832551294116, 2.797077185532208, 2.9419...",None,"[2.988991097899673, 2.988911714909688, 2.96883...",ra15808,"[3.96753580727, 1.04006171277, 1.98876260165, ...","[6.07544374367, 7.03832034915, 9.79304485609, ...","[3, 1, 1, 1, 1]","[3.99813757815, 1.99584083871, 1.99928381, 1.9..."

In [4]:
def mean(x):
    try:
        return np.mean(x)
    except TypeError:
        return np.nan

In [5]:
df2['mean_cse_test_score'] = df2['cse_test_scores'].apply(mean)
df2['mean_cse_train_score'] = df2['cse_train_scores'].apply(mean)

df2.head()

,completed,config_sha1,elapsed,host,id,mean_test_score,mean_train_score,n_test_samples,n_train_samples,parameters,...,test_scores,traceback,train_scores,user,cse_test_scores,cse_train_gaps,cse_train_n_timescales,cse_train_scores,mean_cse_test_score,mean_cse_train_score
947,2017-08-03 20:16:52.451687,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:02:15.233066,compute249.bc4.acrc.priv,2,2.613855,2.922517,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,"[2.7929254738960707, 2.806366141062694, 2.6499...",None,"[2.8238005249605154, 2.870721463825274, 2.9884...",ra15808,"[1.96372272307, 1.99871800747, 1.98917327543, ...","[3.97634298203, 16.9731128258, 42.2860267941, ...","[1, 1, 1, 1, 2]","[1.99048647384, 1.99925393958, 1.99986176834, ...",2.185815,2.196309
1024,2017-08-03 20:32:19.317085,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:17:41.918205,compute249.bc4.acrc.priv,3,2.561150,2.970864,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,"[2.7309232422787275, 2.5163258459570557, 2.645...",None,"[2.96773553090778, 2.969495071361183, 2.995966...",ra15808,"[None, 2.75600033948, 2.56265730611, 1.9773796...","[2.68215225464, 8.14566477521, 8.39641716411, ...","[1, 2, 2, 1, 2]","[1.98978098131, 2.99359912982, 2.8549999371, 1...",NaN,2.566257
76,2017-08-03 20:28:36.104540,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:13:58.667505,compute249.bc4.acrc.priv,4,2.878763,2.992912,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,"[2.948540113694251, 2.632606230422432, 2.87014...",None,"[2.993834214901289, 2.978360161399329, 2.99909...",ra15808,"[5.40378045921, 3.88709659215, 1.95245287852, ...","[2.89773741805, 6.58039903006, 17.0715041883, ...","[5, 3, 1, 2, 1]","[5.86174757165, 3.9922788621, 1.99992166853, 2...",3.207427,3.369564
1185,2017-08-03 20:22:28.222725,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:07:50.785734,compute249.bc4.acrc.priv,5,2.388471,2.971272,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,"[1.8985418806233798, 1.859573749968411, 2.5134...",None,"[2.9877866168480036, 2.9321628078314492, 2.997...",ra15808,"[2.26192515257, 1.85270091014, 0.824351322868,...","[1.94656359823, 21.3668681343, 3.38144238924, ...","[2, 1, 4, 2, 1]","[2.80612614141, 1.99855319081, 4.94715222626, ...",NaN,2.946025
185,2017-08-03 20:39:29.160628,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:24:51.610195,compute249.bc4.acrc.priv,6,2.854033,2.987659,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,"[2.8355832551294116, 2.797077185532208, 2.9419...",None,"[2.988991097899673, 2.988911714909688, 2.96883...",ra15808,"[3.96753580727, 1.04006171277, 1.98876260165, ...","[6.07544374367, 7.03832034915, 9.79304485609, ...","[3, 1, 1, 1, 1]","[3.99813757815, 1.99584083871, 1.99928381, 1.9...",2.192817,2.397560

In [6]:
df2['cse_status'] = ~(df2['mean_cse_test_score'].isnull() | df2['mean_cse_train_score'].isnull())

In [7]:
print(df.columns)
print(df2.columns)

Index(['completed', 'config_sha1', 'elapsed', 'host', 'id', 'mean_test_score',
       'mean_train_score', 'n_test_samples', 'n_train_samples', 'parameters',
       'project_name', 'started', 'status', 'test_scores', 'traceback',
       'train_scores', 'user'],
      dtype='object')
Index(['completed', 'config_sha1', 'elapsed', 'host', 'id', 'mean_test_score',
       'mean_train_score', 'n_test_samples', 'n_train_samples', 'parameters',
       'project_name', 'started', 'status', 'test_scores', 'traceback',
       'train_scores', 'user', 'cse_test_scores', 'cse_train_gaps',
       'cse_train_n_timescales', 'cse_train_scores', 'mean_cse_test_score',
       'mean_cse_train_score', 'cse_status'],
      dtype='object')

In [8]:
df2.head()

,completed,config_sha1,elapsed,host,id,mean_test_score,mean_train_score,n_test_samples,n_train_samples,parameters,...,traceback,train_scores,user,cse_test_scores,cse_train_gaps,cse_train_n_timescales,cse_train_scores,mean_cse_test_score,mean_cse_train_score,cse_status
947,2017-08-03 20:16:52.451687,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:02:15.233066,compute249.bc4.acrc.priv,2,2.613855,2.922517,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,None,"[2.8238005249605154, 2.870721463825274, 2.9884...",ra15808,"[1.96372272307, 1.99871800747, 1.98917327543, ...","[3.97634298203, 16.9731128258, 42.2860267941, ...","[1, 1, 1, 1, 2]","[1.99048647384, 1.99925393958, 1.99986176834, ...",2.185815,2.196309,True
1024,2017-08-03 20:32:19.317085,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:17:41.918205,compute249.bc4.acrc.priv,3,2.561150,2.970864,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,None,"[2.96773553090778, 2.969495071361183, 2.995966...",ra15808,"[None, 2.75600033948, 2.56265730611, 1.9773796...","[2.68215225464, 8.14566477521, 8.39641716411, ...","[1, 2, 2, 1, 2]","[1.98978098131, 2.99359912982, 2.8549999371, 1...",NaN,2.566257,False
76,2017-08-03 20:28:36.104540,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:13:58.667505,compute249.bc4.acrc.priv,4,2.878763,2.992912,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,None,"[2.993834214901289, 2.978360161399329, 2.99909...",ra15808,"[5.40378045921, 3.88709659215, 1.95245287852, ...","[2.89773741805, 6.58039903006, 17.0715041883, ...","[5, 3, 1, 2, 1]","[5.86174757165, 3.9922788621, 1.99992166853, 2...",3.207427,3.369564,True
1185,2017-08-03 20:22:28.222725,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:07:50.785734,compute249.bc4.acrc.priv,5,2.388471,2.971272,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,None,"[2.9877866168480036, 2.9321628078314492, 2.997...",ra15808,"[2.26192515257, 1.85270091014, 0.824351322868,...","[1.94656359823, 21.3668681343, 3.38144238924, ...","[2, 1, 4, 2, 1]","[2.80612614141, 1.99855319081, 4.94715222626, ...",NaN,2.946025,False
185,2017-08-03 20:39:29.160628,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:24:51.610195,compute249.bc4.acrc.priv,6,2.854033,2.987659,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",...,None,"[2.988991097899673, 2.988911714909688, 2.96883...",ra15808,"[3.96753580727, 1.04006171277, 1.98876260165, ...","[6.07544374367, 7.03832034915, 9.79304485609, ...","[3, 1, 1, 1, 1]","[3.99813757815, 1.99584083871, 1.99928381, 1.9...",2.192817,2.397560,True

In [9]:
# Create new trial history.  
# Put the CSE results in place of the GMRQ results. 

# to_change = [('mean_test_score', 'cse_mean_test_score'), ('test_scores', 'cse_test_scores'), 
#             ('mean_train_score', 'cse_mean_train_score'), ('train_scores', 'cse_train_score')]
new_history = []
for trial in history: 
    # Check if it succeeded in both the CSE and the GMRQ-2 case. 
    if trial.status == 'SUCCEEDED':
        idx = df2['id']==trial.id
        if df2.loc[idx, 'cse_status'].values[0]:
            # Change the values
            trial.mean_test_score = df2.loc[idx, 'mean_cse_test_score'].values[0]
            trial.test_scores = df2.loc[idx, 'cse_test_scores'].values[0]
            
            trial.mean_train_score = df2.loc[idx, 'mean_cse_train_score'].values[0]
            trial.train_scores = df2.loc[idx, 'cse_train_scores'].values[0]
            
            new_history.append(trial)

In [10]:
# Save new history to new database
project_names = df2['project_name'].unique()
for name in project_names:
    db2 = make_session('sqlite:///osprey-trials-cse.db', project_name=name)
    save_trials  = [t for t in new_history if t.project_name==name]
    
    # merge them into new db
    for trial in save_trials:
        db2.merge(trial)
    db2.commit()
    db2.close()

In [11]:
# Load new database up and check results. 
my_config = 'config-cse.yaml'
config2 = Config(my_config)
df_new = config2.trial_results()
df_new.head()

Loading config file:     config-cse.yaml...
Loading trials database: sqlite:///osprey-trials-cse.db...

,completed,config_sha1,elapsed,host,id,mean_test_score,mean_train_score,n_test_samples,n_train_samples,parameters,project_name,started,status,test_scores,traceback,train_scores,user
0,2017-08-03 20:16:52.451687,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:02:15.233066,compute249.bc4.acrc.priv,2,2.185815,2.196309,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",alpha_angle,2017-08-03 20:14:37.218621,SUCCEEDED,"[1.9637227230711098, 1.9987180074690651, 1.989...",None,"[1.9904864738401438, 1.999253939575259, 1.9998...",ra15808
1,2017-08-03 20:28:36.104540,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:13:58.667505,compute249.bc4.acrc.priv,4,3.207427,3.369564,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",alpha_angle,2017-08-03 20:14:37.437035,SUCCEEDED,"[5.403780459214151, 3.887096592152029, 1.95245...",None,"[5.861747571654981, 3.992278862101326, 1.99992...",ra15808
2,2017-08-03 20:39:29.160628,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:24:51.610195,compute249.bc4.acrc.priv,6,2.192817,2.397560,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",alpha_angle,2017-08-03 20:14:37.550433,SUCCEEDED,"[3.967535807265277, 1.040061712770921, 1.98876...",None,"[3.9981375781469186, 1.9958408387083892, 1.999...",ra15808
3,2017-08-03 20:38:41.574171,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:24:03.604843,compute249.bc4.acrc.priv,9,3.331260,3.571701,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",alpha_angle,2017-08-03 20:14:37.969328,SUCCEEDED,"[3.954880770936464, 5.777735735761833, 1.98281...",None,"[4.995662021910789, 5.882551496764144, 1.98998...",ra15808
4,2017-08-03 20:17:10.691419,11d05ee0f2efe3233a58a40ac81bbb9962bf882a,1970-01-01 00:02:32.714971,compute249.bc4.acrc.priv,10,2.465030,2.786382,"[75000, 75000, 75000, 75000, 75000]","[75000, 75000, 75000, 75000, 75000]","{'msm__use_gap': None, 'cluster__n_clusters': ...",alpha_angle,2017-08-03 20:14:37.976448,SUCCEEDED,"[1.7955746381588658, 2.902914645104495, 1.9159...",None,"[1.999064143605699, 2.9924897862307978, 1.9981...",ra15808

In [15]:
# Check if all of pthe history got saved: 
print(df_new.shape)
len(new_history) == df_new.shape[0]

(1400, 17)

True

In [16]:
df_new.sort_values(by='id', inplace=True)
df2.sort_values(by='id', inplace=True)

In [27]:
x = df_new.loc[:,['id', 'mean_test_score', 'test_scores']]
x.head()

   id  mean_test_score                                        test_scores
0   2         2.185815  [1.9637227230711098, 1.9987180074690651, 1.989...
1   4         3.207427  [5.403780459214151, 3.887096592152029, 1.95245...
2   6         2.192817  [3.967535807265277, 1.040061712770921, 1.98876...
3   9         3.331260  [3.954880770936464, 5.777735735761833, 1.98281...
4  10         2.465030  [1.7955746381588658, 2.902914645104495, 1.9159...

In [51]:
y = df2.loc[~(df2['mean_cse_test_score'].isnull()) | (df2['mean_cse_train_score'].isnull()),['id', 'mean_cse_test_score', 'cse_test_scores']]

,id,mean_cse_test_score,cse_test_scores
947,2,2.185815,"[1.96372272307, 1.99871800747, 1.98917327543, ..."
76,4,3.207427,"[5.40378045921, 3.88709659215, 1.95245287852, ..."
185,6,2.192817,"[3.96753580727, 1.04006171277, 1.98876260165, ..."
156,9,3.331260,"[3.95488077094, 5.77773573576, 1.98281164301, ..."
598,10,2.465030,"[1.79557463816, 2.9029146451, 1.91596141711, 3..."

In [69]:
check = df_new.merge(right=df2, on=['id'], how='right')
check.columns

Index(['completed_x', 'config_sha1_x', 'elapsed_x', 'host_x', 'id',
       'mean_test_score_x', 'mean_train_score_x', 'n_test_samples_x',
       'n_train_samples_x', 'parameters_x', 'project_name_x', 'started_x',
       'status_x', 'test_scores_x', 'traceback_x', 'train_scores_x', 'user_x',
       'completed_y', 'config_sha1_y', 'elapsed_y', 'host_y',
       'mean_test_score_y', 'mean_train_score_y', 'n_test_samples_y',
       'n_train_samples_y', 'parameters_y', 'project_name_y', 'started_y',
       'status_y', 'test_scores_y', 'traceback_y', 'train_scores_y', 'user_y',
       'cse_test_scores', 'cse_train_gaps', 'cse_train_n_timescales',
       'cse_train_scores', 'mean_cse_test_score', 'mean_cse_train_score',
       'cse_status'],
      dtype='object')

In [73]:
check['diff'] = check['mean_cse_test_score'] - check['mean_test_score_x']

In [76]:
check['diff'].sum()

0.0