In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'id': np.arange(5), 'data': np.random.random(5)}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

       data  id
0  0.135590   0
1  0.342808   1
2  0.193870   2
3  0.458247   3
4  0.300983   4

In [11]:
scores

0    [1, 2, 3]
1    [3, 3, 4]
2    [3, 6, 5]
dtype: object

In [27]:
scores = pd.Series([[1,2,3],[3,3,4], [3,6,5]])
scores = np.concatenate([scores, [9,8,7]], axis=0)

In [28]:
scores

array([[1, 2, 3], [3, 3, 4], [3, 6, 5], 9, 8, 7], dtype=object)

In [53]:
all_scores = []
for i in range(5):
    all_scores.append(list(np.random.random(3)))

In [54]:
all_scores

[[0.87781182263627933, 0.46979234879626708, 0.5952846022256284],
 [0.61527033090677929, 0.14153347910696423, 0.34601142723096368],
 [0.50707893337692, 0.79672812555005157, 0.35732656926991435],
 [0.87269345807972198, 0.33295279826259006, 0.82605794562345891],
 [0.60150570013205862, 0.77268459650076837, 0.5309428098316552]]

In [55]:
idx = np.arange(5)
np.random.shuffle(idx)
idx

array([2, 4, 1, 0, 3])

In [56]:
all_scores = pd.Series(all_scores, index=idx)
# all_scores.index = idx

In [57]:
all_scores

2    [0.877811822636, 0.469792348796, 0.595284602226]
4    [0.615270330907, 0.141533479107, 0.346011427231]
1      [0.507078933377, 0.79672812555, 0.35732656927]
0     [0.87269345808, 0.332952798263, 0.826057945623]
3    [0.601505700132, 0.772684596501, 0.530942809832]
dtype: object

In [58]:
df.ix[idx, 'scores'] = all_scores

In [59]:
df

       data  id                                            scores
0  0.135590   0   [0.87269345808, 0.332952798263, 0.826057945623]
1  0.342808   1    [0.507078933377, 0.79672812555, 0.35732656927]
2  0.193870   2  [0.877811822636, 0.469792348796, 0.595284602226]
3  0.458247   3  [0.601505700132, 0.772684596501, 0.530942809832]
4  0.300983   4  [0.615270330907, 0.141533479107, 0.346011427231]